@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 375px;
    margin: 0 auto;
}

.wrapper {
    background-color: #fff;
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1rem;
}

img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.text {
    padding: 22px 10px;
}

.text h2 {
    color: hsl(218, 44%, 22%);
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
}

.text p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
}